* {
    font-family: roboto;
}
.brand-logo {
    font-family: 'Gloria Hallelujah', cursive;
}

.signup-title {
    height: 70px;
}

.margin-left-10 {
    margin-left: 10vw;
}

.margin-right-10 {
    margin-right: 10vw;
}

.margin-top-5 {
    margin-top: 5vh;
}

.margin-top-12px {
    margin-top: 12px;
}

.padding-top-20px {
    padding-top: 20px;
}

.f-200 {
    font-weight: 200;
}

.s-30 {
    font-size: 30px;
}

.s-20 {
    font-size: 20px;
}
.s-25 {
    font-size: 25px;
}


/* Colors For the Input */
 /* label color */
   .input-field label {
     color: #757575 !important;
   }
   /* label focus color */
   .input-field input:focus + label {
     color: #757575 !important;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #757575 !important;
     box-shadow: 0 1px 0 0 #757575 !important;
   }

/* Colors For the Input */
@media (max-width: 767px){
    .s-30 {
        font-size: 20px;
    }
    .s-25 {
        font-size: 15px;
    }
}

.margin-auto {
    width: 100%;
    margin: inherit auto;
}

/* Remove  Numbers From Input type Number */
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }

.error-text {
    
}

.error {
    text-align: center;
    border: 2px solid #4db6ac;
}
